:root{
  --color1: #FFFFFF;
  --color2: #C3CEDA;
  --color3: #738FA7;
  --color4: #0C4160;
  --color5: #071330;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ddd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
