.header{
    background-color: var(--color3);
    padding: 0.5rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.wrapper div, .wrapper div form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper div form{
    width: 100%;
    max-width: 35rem;
    background-color: var(--color1);
    padding: 0.2rem;
    gap: 0.2em
}

.wrapper div form input{
    width: 100%;
    border: 0;
    outline: 0;
    height: 1rem;
    padding: 0 0.5rem;
}

.wrapper div form button, .categories button{
    background-color: transparent;
    padding: 0.2rem;
    border: 0;
    border-left: 1px solid #ddd;
    font-size: 1rem;
    cursor: pointer;
}

.wrapper div div button{
    width: 5rem;
    padding: 0.3rem;
    border-radius: 1rem;
    border: 2px solid var(--color4);
    background-color: var(--color1);
    color: var(--color4);
    font-size: 0.95rem;
    cursor: pointer;
}

.wrapper div div button:nth-child(2){
    background-color: var(--color4);
    color: var(--color1);
    margin-left: 0.7rem;
}

.categories{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.categories div{
    display: flex;
    gap: 1.1rem;
    color: var(--color4);
}

.categories div p{
    cursor: pointer;
}

.categories button{
    border: 0;
}